/* Barra de navegacao horizontal */
ul {
margin: 0px auto;
padding: 0px;
list-style: none;
width: 575px;
background: #159cb0 url('imagem/fundo-horizontal.png') repeat-x;
float: left;

}
ul li{
	
	float: left;
}
ul a{
display: block;
padding: 0px 2.2em;
line-height: 5em;
text-decoration:none;
color: white;
background: url('imagem/divisor.png') repeat-y;

}
ul .primeiro a {
background: none;
}
ul a:hover{
color: #085662;
background: #44cade;
text-decoration: none;
}
#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a{
	background: right  #44cade;
	color: #085662;
}